
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CPV UNIT-4</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
  <link rel="stylesheet" href="assets/css/Navbar.css">
  <link rel="stylesheet" href="assets/css/Footer.css">
  <link rel="stylesheet" href="assets/css/YouTube.css">
  <link rel="stylesheet" href="assets/css/units.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="icon" type="image/x-icon" href="assets/img/logo.png">
</head>
<body>
    
  <!--nav-->
       <nav class="navbar navbar-dark navbar-expand-md navbar-fixed-top navigation-clean-button" style="background: rgb(34, 34, 34);border-radius: 20;border-top-left-radius: 20;border-top-right-radius: 20;border-bottom-right-radius: 20;border-bottom-left-radius: 20;border-style: none;padding-top: 0;padding-bottom: 10px;">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
             <div><img src="assets/img/logo.png" style="width: 80px;"><a class="navbar-brand" href="#"> </a></div>
            <div class="collapse navbar-collapse" id="navcol-1" style="color: rgb(255,255,255);">
                <ul class="navbar-nav nav-right">
                    <li class="nav-item"><a class="nav-link active" href="/" style="color: rgba(224,217,217,0.9);">HOME</a></li>
<li class="nav-item"><a class="nav-link active" href="/profile_search"  >PROFILE</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="color: rgba(224,217,217,0.9);">ACADEMIC</a>
                                                    <div class="dropdown-menu"><a class="dropdown-item" href="/SEMESTER_MATERIALS">MATERIALS</a><a class="dropdown-item" href="/SYLLABUS">SYLLABUS</a><a class="dropdown-item" href="/SEMESTER_VIDEOS">VIDEO</a></div>
                    </li>
                    
                    <li class="nav-item"><a class="nav-link" href="/TEAM" style="color: rgba(224,217,217,0.9);">TEAM</a></li>
                    <li class="nav-item"><a class="nav-link" href="/FEEDBACK" style="color: rgba(224,217,217,0.9);">FEEDBACK</a></li>
                </ul>
                <p class="ms-auto navbar-text actions" style="text-align: right;"> <a class="btn btn-light action-button" role="button" href="/LOGIN" style="font-size: 16px;padding: 5px 8px; background-color: #0690FF;color: white;border-radius: 10px;border-style: solid;border-color: #0690FF;font-size: 16px;padding: 5px 8px;width: 100px;">LOGIN</a></p>
            </div>
        </div>
    </nav>
    <!--nav end-->
    <br>
 <card>
    <section class="clean-block clean-INFO dark">
        <div class="container">
            <div class="videoWrapper"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLg0L3Q7uxUEzg0SB7eRplVx-yaZGyw8oT" class="embed-responsive-item" width="100%" height="auto"></iframe></div>
        </div>
    </section>
    <a href="/UNIT"><button class="add">BACK</button></a>
    </card>
    <br>
    <br>
    <br>
  

  <!--footer-->
  <footer class="footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3>USEFUL LINKS</h3>
                <ul>
                    <li><a href="/">Home</a></li> 
                    <li><a href="/LOGIN">Login</a></li>
                    <li><a href="/profile_search">Profile</a></li>
                    <li><a href="/SEMESTER_MATERIALS">Material</a></li>
                    <li><a href="/SYLLABUS">Syllabus</a></li>
                    <li><a href="/SEMESTER_VIDEOS">Videos</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>ABOUT US</h3>
                <ul>
                    
                    <li><a href="/TEAM">Team</a></li>
                    <li><a href="/FEEDBACK">Feedback</a></li>
                </ul>
            </div>
            <div class="col-md-6 item text">
                <h3>INFO</h3>
                <p>Sri Manakula Vinayagar Engineering College is contended in pioneering a leading edge program B.Tech – Artificial intelligence and Data science, an undergraduate program with advanced learning solutions imparting knowledge of advanced innovations in these two buzz word towards which various industries are moving towards irrespective of their field.</p>
            </div>
            <div class="col item social"><a href="https://www.facebook.com/profile.php?id=100073342620201"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/AI_DS1"><i class="icon ion-social-twitter"></i></a><a href="https://www.instagram.com/_AI_DS_/"><i class="icon ion-social-instagram"></i></a></div>
        </div>
      <p class="copyright">ALL RIGHTS RESERVED BY INFINIT AI  </p>
     <p class="copyright">POWERED BY TITANS </p>
    </div>
</footer>
<!--end of footer-->
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/js/script-CON.js"></script>


</body>
</html>
