<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DSD PDF</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Navbar.css">
    <link rel="stylesheet" href="assets/css/Footer.css">
    <link rel="stylesheet" href="assets/css/pdf.css">
    <link rel="icon" type="image/x-icon" href="assets/img/logo.png">

</head>

<body>
  <!--nav-->
       <nav class="navbar navbar-dark navbar-expand-md navbar-fixed-top navigation-clean-button" style="background: rgb(34, 34, 34);border-radius: 20;border-top-left-radius: 20;border-top-right-radius: 20;border-bottom-right-radius: 20;border-bottom-left-radius: 20;border-style: none;padding-top: 0;padding-bottom: 10px;">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
             <div><img src="assets/img/logo.png" style="width: 80px;"><a class="navbar-brand" href="#"> </a></div>
            <div class="collapse navbar-collapse" id="navcol-1" style="color: rgb(255,255,255);">
                <ul class="navbar-nav nav-right">
                    <li class="nav-item"><a class="nav-link active" href="/" style="color: rgba(224,217,217,0.9);">HOME</a></li>
<li class="nav-item"><a class="nav-link active" href="/profile_search"  >PROFILE</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="color: rgba(224,217,217,0.9);">ACADEMIC</a>
                                                    <div class="dropdown-menu"><a class="dropdown-item" href="/SEMESTER_MATERIALS">MATERIALS</a><a class="dropdown-item" href="/SYLLABUS">SYLLABUS</a><a class="dropdown-item" href="/SEMESTER_VIDEOS">VIDEO</a></div>
                    </li>
                    
                    <li class="nav-item"><a class="nav-link" href="/TEAM" style="color: rgba(224,217,217,0.9);">TEAM</a></li>
                    <li class="nav-item"><a class="nav-link" href="/FEEDBACK" style="color: rgba(224,217,217,0.9);">FEEDBACK</a></li>
                </ul>
                <p class="ms-auto navbar-text actions" style="text-align: right;"> <a class="btn btn-light action-button" role="button" href="/LOGIN" style="font-size: 16px;padding: 5px 8px; background-color: #0690FF;color: white;border-radius: 10px;border-style: solid;border-color: #0690FF;font-size: 16px;padding: 5px 8px;width: 100px;">LOGIN</a></p>
            </div>
        </div>
    </nav>
    <!--nav end-->
    <h1>DSD MATERIALS</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4" >
  <div class="blog-card blog-card-blog" >
    <div class="blog-card-image">
        <a href="#">  <iframe src="https://drive.google.com/file/d/1UfEEVBHGPOv0Rd5MxD5VGNb3AdXcCr9e/preview" width="450" height="480" allow="autoplay"></iframe> </a>
        <div class="ripple-cont"></div>
    </div>
    <div class="blog-table">
        <h4 class="blog-card-caption">
            <a href="#">UNIT -I [REVIEW OF NUMBER SYSTEMS]</a>
        </h4>
        <p class="blog-card-description">This unit deals with the types of number systems like decimal octal and hexadeciamal. It also deals with 1s and 2s compliment.</p>
        <pre> </pre>
        <div class="ftr">
            <div class="author">
               <a href="https://drive.google.com/uc?export=download&id=1UfEEVBHGPOv0Rd5MxD5VGNb3AdXcCr9e"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
            </div>
            <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
        </div>
    </div>
</div>
</div>
<div class="col-md-4" >
    <div class="blog-card blog-card-blog" >
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/1XdMg1koJRcnlJtiSby3TDcP9Ynsbt0e_/preview"width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">
          <h4 class="blog-card-caption">
              <a href="#">UNIT- II [BOOLEAN FUNCTON AND COMBINATIONAL LOGIC DESIGN] </a>
          </h4>
          <p class="blog-card-description">This unit deals with k-map QuineMcCluskey method. Then combinational circuits along with adders and subtractors.</p>
          <div class="ftr">
              <div class="author">
                 <a href="https://drive.google.com/uc?export=download&id=1XdMg1koJRcnlJtiSby3TDcP9Ynsbt0e_"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>
  <div class="col-md-4" >
    <div class="blog-card blog-card-blog" >
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/1zHCOz_g_AY8Iis62LwvJFTIkPBJnAKAz/preview" width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">
          
          <h4 class="blog-card-caption">
              <a href="#">UNIT -III [SEQUENTIAL LOGIC DESIGN] </a>
          </h4>
          <p class="blog-card-description">This unit deals with types of latches and types of flip-flops and counters like asynchronous and synchronous.</p>
          <pre> </pre>
          <div class="ftr">
              <div class="author">
                 <a href="https://drive.google.com/uc?export=download&id=1zHCOz_g_AY8Iis62LwvJFTIkPBJnAKAz"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>

  <div class="col-md-4" >
  <div class="blog-card blog-card-blog" >
    <div class="blog-card-image">
        <a href="#">  <iframe src="https://drive.google.com/file/d/18gIIBtAd2Ii5MrHEkao-QG5VEXXf6N5o/preview" width="400" height="480" allow="autoplay"></iframe> </a>
        <div class="ripple-cont"></div>
    </div>
    <div class="blog-table">
        
        <h4 class="blog-card-caption">
            <a href="#">UNIT -IV [RECONFIGURATION DIGITAL CIRCUITS] </a>
        </h4>
        <p class="blog-card-description">This unit deals with the study of RAM, ROM and PAL, PLA.</p>
        <div class="ftr">
            <div class="author">
               <a href="https://drive.google.com/uc?export=download&id=18gIIBtAd2Ii5MrHEkao-QG5VEXXf6N5o"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
            </div>
            <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
        </div>
    </div>
</div>
</div><div class="col-md-4" >
    <div class="blog-card blog-card-blog" >
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/11aHi4N2HOyA6FoMV_Wp7jRvgxnaumXR4/preview" width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">
          
          <h4 class="blog-card-caption">
              <a href="#">UNIT -V [VHDL]</a>
          </h4>
          <p class="blog-card-description">This unit gives an introduction to hardware description language and VHDL along with signals and data types.</p>
          <div class="ftr">
              <div class="author">
                 <a href="https://drive.google.com/uc?export=download&id=11aHi4N2HOyA6FoMV_Wp7jRvgxnaumXR4"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>
  <h1 style="text-align: center;">--QUESTION PAPERS--</h1>
  <div class="col-md-4" >
    <div class="blog-card blog-card-blog" >
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/13fcHlKWypD3KkF8MwqG4mSnyl7QDUHee/preview"width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">
          
          <h4 class="blog-card-caption">
              <a href="#">SET-1</a>
          </h4>
          <p class="blog-card-description">This question paper is a model for the FIRST SEMESTER examination of DIGITAL SYSTEM DESIGN, which comprises of 3 sections combined together to provide a total marks of 75.</p>
          <div class="ftr">
              <div class="author">
                 <a href="https://drive.google.com/uc?export=download&id=13fcHlKWypD3KkF8MwqG4mSnyl7QDUHee"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>
  <div class="col-md-4" >
    <div class="blog-card blog-card-blog" >
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/1eNNFyL5GIEAif5-jWleGY7jyxmvRoB_2/preview"width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">
          
          <h4 class="blog-card-caption">
              <a href="#">SET-2</a>
          </h4>
          <p class="blog-card-description">This question paper is a model for the FIRST SEMESTER examination of DIGITAL SYSTEM DESIGN, which comprises of 3 sections combined together to provide a total marks of 75.</p>
          <div class="ftr">
              <div class="author">
                 <a href="https://drive.google.com/uc?export=download&id=1eNNFyL5GIEAif5-jWleGY7jyxmvRoB_2"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>
  <div class="col-md-4" >
    <div class="blog-card blog-card-blog" >
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/1Te8e6W3C7KERs_yoq0DPjHfCFqpzYwai/preview" width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">
          
          <h4 class="blog-card-caption">
              <a href="#">SET-3</a>
          </h4>
          <p class="blog-card-description">This question paper is a model for the FIRST SEMESTER examination of DIGITAL SYSTEM DESIGN, which comprises of 3 sections combined together to provide a total marks of 75.</p>
          <div class="ftr">
              <div class="author">
                 <a href="https://drive.google.com/uc?export=download&id=1Te8e6W3C7KERs_yoq0DPjHfCFqpzYwai"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>
  
    
    
    <div class="col-md-4" >
  <div class="blog-card blog-card-blog" >
    <div class="blog-card-image">
        <a href="#">  <iframe src="https://drive.google.com/file/d/1gC6BNPXnQ82ZHBPiD_s3yRXlyhPPfoHx/preview"width="400" height="480" allow="autoplay"></iframe> </a>
        <div class="ripple-cont"></div>
    </div>
    <div class="blog-table">
        
        <h4 class="blog-card-caption">
            <a href="#">SET-4</a>
        </h4>
        <p class="blog-card-description">This question paper is a model for the FIRST SEMESTER examination of DIGITAL SYSTEM DESIGN, which comprises of 3 sections combined together to provide a total marks of 75.</p>
        <div class="ftr">
            <div class="author">
                <a href="https://drive.google.com/uc?export=download&id=1gC6BNPXnQ82ZHBPiD_s3yRXlyhPPfoHx"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
            </div>
            <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
        </div>
    </div>
</div>
</div>
<div class="col-md-4" >
    <div class="blog-card blog-card-blog" >
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/1QraKEkHZz7-Lj8EvRc_B7ByLEngbfZBe/preview"width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">
          
          <h4 class="blog-card-caption">
              <a href="#">SET-5</a>
          </h4>
          <p class="blog-card-description">This question paper is a model for the FIRST SEMESTER examination of DIGITAL SYSTEM DESIGN, which comprises of 3 sections combined together to provide a total marks of 75.</p>
          <div class="ftr">
              <div class="author">
                  <a href="https://drive.google.com/uc?export=download&id=1QraKEkHZz7-Lj8EvRc_B7ByLEngbfZBe"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>
  <div class="col-md-4" >
    <div class="blog-card blog-card-blog" >
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/189ImhpJEdo14BwCUU4SQ5I1mcbJ7pdTC/preview" width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">
          
          <h4 class="blog-card-caption">
              <a href="#">SET-6</a>
          </h4>
          <p class="blog-card-description">This question paper is a model for the FIRST SEMESTER examination of DIGITAL SYSTEM DESIGN, which comprises of 3 sections combined together to provide a total marks of 75.</p>
          <div class="ftr">
              <div class="author">
                  <a href="https://drive.google.com/uc?export=download&id=189ImhpJEdo14BwCUU4SQ5I1mcbJ7pdTC"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>
  <div class="col-md-4" >
    <div class="blog-card blog-card-blog" >
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/1R3QKIuRSHFSjwoylaeKSv_LDfb7tgyRA/preview" width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">
          
          <h4 class="blog-card-caption">
              <a href="#">SET-7</a>
          </h4>
          <p class="blog-card-description">This question paper is a model for the FIRST SEMESTER examination of DIGITAL SYSTEM DESIGN, which comprises of 3 sections combined together to provide a total marks of 75.</p>
          <div class="ftr">
              <div class="author">
                  <a href="https://drive.google.com/uc?export=download&id=1R3QKIuRSHFSjwoylaeKSv_LDfb7tgyRA"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>
  <div class="col-md-4" >
    <div class="blog-card blog-card-blog" >
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/172xrizl2ubn5Gatus8UhZTyNGe22H4-s/preview" width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">
          
          <h4 class="blog-card-caption">
              <a href="#">SET-8</a>
          </h4>
          <p class="blog-card-description">This question paper is a model for the FIRST SEMESTER examination of DIGITAL SYSTEM DESIGN, which comprises of 3 sections combined together to provide a total marks of 75.</p>
          <div class="ftr">
              <div class="author">
                  <a href="https://drive.google.com/uc?export=download&id=172xrizl2ubn5Gatus8UhZTyNGe22H4-s"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>
  <div class="col-md-4" >
    <div class="blog-card blog-card-blog" >
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/12dm3KfU7Vcu_6HAMuYcGyaZ2ex31Up1V/preview"width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">
          
          <h4 class="blog-card-caption">
              <a href="#">SET-9</a>
          </h4>
          <p class="blog-card-description">This question paper is a model for the FIRST SEMESTER examination of DIGITAL SYSTEM DESIGN, which comprises of 3 sections combined together to provide a total marks of 75.</p>
          <div class="ftr">
              <div class="author">
                  <a href="https://drive.google.com/uc?export=download&id=12dm3KfU7Vcu_6HAMuYcGyaZ2ex31Up1V"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>
  <div class="col-md-4" >
    <div class="blog-card blog-card-blog" >
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/161IczILrD_ywPdg6XxNzD_mRFdXaAtBi/preview"width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">
          
          <h4 class="blog-card-caption">
              <a href="#">SET-10</a>
          </h4>
          <p class="blog-card-description">This question paper is a model for the FIRST SEMESTER examination of DIGITAL SYSTEM DESIGN, which comprises of 3 sections combined together to provide a total marks of 75.</p>
          <div class="ftr">
              <div class="author">
                  <a href="https://drive.google.com/uc?export=download&id=161IczILrD_ywPdg6XxNzD_mRFdXaAtBi"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>
    
  </div>
</div>
  <!--footer-->
  <footer class="footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3>USEFUL LINKS</h3>
                <ul>
                    <li><a href="/">Home</a></li> 
                    <li><a href="/LOGIN">Login</a></li>
                    <li><a href="/profile_search">Profile</a></li>
                    <li><a href="/SEMESTER_MATERIALS">Material</a></li>
                    <li><a href="/SYLLABUS">Syllabus</a></li>
                    <li><a href="/SEMESTER_VIDEOS">Videos</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>ABOUT US</h3>
                <ul>
                    
                    <li><a href="/TEAM">Team</a></li>
                    <li><a href="/FEEDBACK">Feedback</a></li>
                </ul>
            </div>
            <div class="col-md-6 item text">
                <h3>INFO</h3>
                <p>Sri Manakula Vinayagar Engineering College is contended in pioneering a leading edge program B.Tech – Artificial intelligence and Data science, an undergraduate program with advanced learning solutions imparting knowledge of advanced innovations in these two buzz word towards which various industries are moving towards irrespective of their field.</p>
            </div>
            <div class="col item social"><a href="https://www.facebook.com/profile.php?id=100073342620201"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/AI_DS1"><i class="icon ion-social-twitter"></i></a><a href="https://www.instagram.com/_AI_DS_/"><i class="icon ion-social-instagram"></i></a></div>
        </div>
      <p class="copyright">ALL RIGHTS RESERVED BY INFINIT AI  </p>
     <p class="copyright">POWERED BY TITANS </p>
    </div>
</footer>
<!--end of footer-->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>