<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FDS PDF</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Navbar.css">
    <link rel="stylesheet" href="assets/css/Footer.css">
    <link rel="stylesheet" href="assets/css/pdf.css">
    <link rel="icon" type="image/x-icon" href="assets/img/logo.png">

</head>

<body>
    
  <!--nav-->
       <nav class="navbar navbar-dark navbar-expand-md navbar-fixed-top navigation-clean-button" style="background: rgb(34, 34, 34);border-radius: 20;border-top-left-radius: 20;border-top-right-radius: 20;border-bottom-right-radius: 20;border-bottom-left-radius: 20;border-style: none;padding-top: 0;padding-bottom: 10px;">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
             <div><img src="assets/img/logo.png" style="width: 80px;"><a class="navbar-brand" href="#"> </a></div>
            <div class="collapse navbar-collapse" id="navcol-1" style="color: rgb(255,255,255);">
                <ul class="navbar-nav nav-right">
                    <li class="nav-item"><a class="nav-link active" href="/" style="color: rgba(224,217,217,0.9);">HOME</a></li>
<li class="nav-item"><a class="nav-link active" href="/profile_search"  >PROFILE</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="color: rgba(224,217,217,0.9);">ACADEMIC</a>
                                                    <div class="dropdown-menu"><a class="dropdown-item" href="/SEMESTER_MATERIALS">MATERIALS</a><a class="dropdown-item" href="/SYLLABUS">SYLLABUS</a><a class="dropdown-item" href="/SEMESTER_VIDEOS">VIDEO</a></div>
                    </li>
                    
                    <li class="nav-item"><a class="nav-link" href="/TEAM" style="color: rgba(224,217,217,0.9);">TEAM</a></li>
                    <li class="nav-item"><a class="nav-link" href="/FEEDBACK" style="color: rgba(224,217,217,0.9);">FEEDBACK</a></li>
                </ul>
                <p class="ms-auto navbar-text actions" style="text-align: right;"> <a class="btn btn-light action-button" role="button" href="/LOGIN" style="font-size: 16px;padding: 5px 8px; background-color: #0690FF;color: white;border-radius: 10px;border-style: solid;border-color: #0690FF;font-size: 16px;padding: 5px 8px;width: 100px;">LOGIN</a></p>
            </div>
        </div>
    </nav>
    <!--nav end-->
    <h1>FDS MATERIALS</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4" >
  <div class="blog-card blog-card-blog" >
    <div class="blog-card-image">
        <a href="#">  <iframe src="https://drive.google.com/file/d/16Slv-pPHS4sn3pqB3ui5ma7woM6Ge-hF/preview" width="400" height="480" allow="autoplay"></iframe> </a>
        <div class="ripple-cont"></div>
    </div>
    <div class="blog-table">
        
        <h4 class="blog-card-caption">
            <a href="#">UNIT-I [INTRODUCTION TO DATA SCIENCE]</a>
        </h4>
        <p class="blog-card-description">This book gives a quick introducion to data science by explaining basic terms involved in data science.</p>
        <div class="ftr">
            <div class="author">
               <a href="https://drive.google.com/uc?export=download&id=16Slv-pPHS4sn3pqB3ui5ma7woM6Ge-hF"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
            </div>
            <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
        </div>
    </div>
</div>
</div>
<div class="col-md-4" >
    <div class="blog-card blog-card-blog" >
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/177qyzbT5SW6stOB4RUdEW_yg5LSv_gxK/preview" width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">

          <h4 class="blog-card-caption">
              <a href="#">UNIT-I [HANDS ON INTRODUCTION TO DATA SCIENCE]</a>
          </h4>
          <p class="blog-card-description">This book gives a quick introducion to data science by explaining basic terms involved in data science.</p>
          <div class="ftr">
              <div class="author">
                 <a href="https://drive.google.com/uc?export=download&id=177qyzbT5SW6stOB4RUdEW_yg5LSv_gxK"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>
  <div class="col-md-4" >
    <div class="blog-card blog-card-blog" >
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/1iVXEgyD4sGW-SG4TNCNcb5u_n1xDncqv/preview" width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">

          <h4 class="blog-card-caption">
              <a href="#">UNIT-I [PRINCIPLES OF DATA SCIENCE]</a>
          </h4>
          <p class="blog-card-description">This book gives the rules and regulations to be followed by as a data science, along with the principles in data science.</p>
          <div class="ftr">
              <div class="author">
                 <a href="https://drive.google.com/uc?export=download&id=1iVXEgyD4sGW-SG4TNCNcb5u_n1xDncqv"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>

  <div class="col-md-4" >
  <div class="blog-card blog-card-blog" >
    <div class="blog-card-image">
        <a href="#">  <iframe src="https://drive.google.com/file/d/1rACipJzxoUli9ANNc71bP_KdRtH-MEHC/preview" width="400" height="480" allow="autoplay"></iframe> </a>
        <div class="ripple-cont"></div>
    </div>
    <div class="blog-table">
        
        <h4 class="blog-card-caption">
            <a href="#">UNIT-II [HANDS ON MACHINE LEARNING WITH MICROSFOT EXCEL]</a>
        </h4>
        <p class="blog-card-description">It gives a practical experience of machine learning with Microsoft Excel.</p>
        <div class="ftr">
            <div class="author">
               <a href="https://drive.google.com/uc?export=download&id=1rACipJzxoUli9ANNc71bP_KdRtH-MEHC"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
            </div>
            <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
        </div>
    </div>
</div>
</div><div class="col-md-4" >
    <div class="blog-card blog-card-blog" >
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/1mGxjA3MQhi3Zg-vLSEb4dLG5F0Fm4KvZ/preview" width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">

          <h4 class="blog-card-caption">
              <a href="#">UNIT-III [MATHEMATICAL PRELIMINARIES]</a>
          </h4>
          <p class="blog-card-description">This unit gives the mathematical foundation required for solving the data science problems.</p>
          <div class="ftr">
              <div class="author">
                 <a href="https://drive.google.com/uc?export=download&id=1mGxjA3MQhi3Zg-vLSEb4dLG5F0Fm4KvZ"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>
  <div class="col-md-4" >
    <div class="blog-card blog-card-blog" >
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/1P6Oi4jKjF0R3FTL3FyuFFL2OU8b2RZ2L/preview" width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">

          <h4 class="blog-card-caption">
              <a href="#">UNIT-IV [Rajendra Akerkar, Priti Srinivas Sajja - Intelligent Techniques for Data Science (2016, Springer)]</a>
          </h4>
          <p class="blog-card-description">This book gives the techniques involved in solving the data science problems.</p>
          <div class="ftr">
              <div class="author">
                 <a href="https://drive.google.com/uc?export=download&id=1P6Oi4jKjF0R3FTL3FyuFFL2OU8b2RZ2L"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>
  <div class="col-md-4" >
    <div class="blog-card blog-card-blog" >
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/13CIyZSgN71hkcI5lgNS0TxhU-XscSqYP/preview" width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">

          <h4 class="blog-card-caption">
              <a href="#">UNIT-V [Data Science Thinking_ The Next Scientific, Technological and Economic Revolution-Springer International Publishing (2018)]</a>
          </h4>
          <p class="blog-card-description">This unit deals with the industrialization, opportunities and applications of data science in various fields.</p>
          <div class="ftr">
              <div class="author">
                 <a href="https://drive.google.com/uc?export=download&id=13CIyZSgN71hkcI5lgNS0TxhU-XscSqYP"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>
  <div class="col-md-4" >
    <div class="blog-card blog-card-blog" >
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/1KxZ5hFdgxCsGBIH86ZMxegLrNbcNTVwT/preview" width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">

          <h4 class="blog-card-caption">
              <a href="#">UNIT-V [APPLICATIONS OF DATA SCIENCE]</a>
          </h4>
          <p class="blog-card-description">This presentation gives a complete study of the apllications of data science in various fields like gaming, agriculture, fashion, business.</p>
          <div class="ftr">
              <div class="author">
                 <a href="https://drive.google.com/uc?export=download&id=1KxZ5hFdgxCsGBIH86ZMxegLrNbcNTVwT"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>
  
    
    
    <div class="col-md-4" >
  <div class="blog-card blog-card-blog" >
    <div class="blog-card-image">
        <a href="#">  <iframe src="https://drive.google.com/file/d/1XXnf8RBeU0hULson0ES5zpl7QqPnYhbm/preview" width="400" height="480" allow="autoplay"></iframe> </a>
        <div class="ripple-cont"></div>
    </div>
    <div class="blog-table">
        
        <h4 class="blog-card-caption">
            <a href="#">UNIT-V [ASTRONOMY AND ADVERTISING]</a>
        </h4>
        <p class="blog-card-description">This presentation deals with the involvement of data science in the fields of astronomy and advertising.</p>
        <div class="ftr">
            <div class="author">
                <a href="https://drive.google.com/uc?export=download&id=1XXnf8RBeU0hULson0ES5zpl7QqPnYhbm"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
            </div>
            <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
        </div>
    </div>
</div>
</div>
    
    <div class="col-md-4" >
  <div class="blog-card blog-card-blog">
    <div class="blog-card-image">
        <a href="#">  <iframe src="https://drive.google.com/file/d/1JYS-HpDf0YUPaQfBVh7VVKJL-DnqrhYl/preview" width="400" height="480" allow="autoplay"></iframe> </a>
        <div class="ripple-cont"></div>
    </div>
    <div class="blog-table">
        
        <h4 class="blog-card-caption">
            <a href="#">UNIT-V [DATA ECONOMY]</a>
        </h4>
        <p class="blog-card-description">This presentation  deals with data economy. It is nothing but a global digital ecosystem in which data is gathered, organized, and exchanged by a network of vendors for the purpose of deriving value from the accumulated INFOrmation.</p>
        <div class="ftr">
            <div class="author">
               <a href="https://drive.google.com/uc?export=download&id=1JYS-HpDf0YUPaQfBVh7VVKJL-DnqrhYl"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
            </div>
            <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
        </div>
    </div>
</div>
</div>

<div class="col-md-4" >
    <div class="blog-card blog-card-blog">
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/1hKpAan049XyYKcMULXBczIUzHOQhq-jk/preview" width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">
          
          <h4 class="blog-card-caption">
              <a href="#">UNIT-V [DATA INDUSTRY]</a>
          </h4>
          <p class="blog-card-description">This presentation deals with the explanation of data industry where it is nothing but the industrilization of data driven products and systems or data-enabled called new-industries.</p>
          <div class="ftr">
              <div class="author">
                 <a href="https://drive.google.com/uc?export=download&id=1hKpAan049XyYKcMULXBczIUzHOQhq-jk"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>

  <div class="col-md-4" >
    <div class="blog-card blog-card-blog">
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/1fXt0ZCKh5yM3e0l2LoLSvH_UJ74y2qlV/preview" width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">
          
          <h4 class="blog-card-caption">
              <a href="#">UNIT -V</a>
          </h4>
          <p class="blog-card-description">This presentation deals with the study of ecology and environment consulting services .</p>
          <div class="ftr">
              <div class="author">
                 <a href="https://drive.google.com/uc?export=download&id=1fXt0ZCKh5yM3e0l2LoLSvH_UJ74y2qlV"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>

  <div class="col-md-4" >
    <div class="blog-card blog-card-blog">
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/1KSOYg3-9yx9pEvDklfmr0cmunnxpOnFP/preview" width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">
          
          <h4 class="blog-card-caption">
              <a href="#">UNIT -V</a>
          </h4>
          <p class="blog-card-description">This presentation deals with the study of data science in fields like arts, creative design, humanities and bio-INFOrmatics</p>
          <div class="ftr">
              <div class="author">
                 <a href="https://drive.google.com/uc?export=download&id=1KSOYg3-9yx9pEvDklfmr0cmunnxpOnFP"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>

  <div class="col-md-4" >
    <div class="blog-card blog-card-blog">
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/1RqdzZgf_sYo6l7NEmqZ9TZvGcsFABYOa/preview" width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">
          
          <h4 class="blog-card-caption">
              <a href="#">UNIT -V</a>
          </h4>
          <p class="blog-card-description">This presentation deals with the study of involvement of data science in the field of engineering.</p>
          <div class="ftr">
              <div class="author">
                 <a href="https://drive.google.com/uc?export=download&id=1RqdzZgf_sYo6l7NEmqZ9TZvGcsFABYOa"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>

  <h1 style="text-align: center;">QUESTION PAPERS</h1>

  <div class="col-md-4" >
    <div class="blog-card blog-card-blog">
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/1Is7g8S7zshQpEDwka5dYCqairuG8HT3L/preview" width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">
          
          <h4 class="blog-card-caption">
              <a href="#">SET-1</a>
          </h4>
          <p class="blog-card-description">This question paper is a model for the FIRST SEMESTER examination of FDS.</p>
          <div class="ftr">
              <div class="author">
                 <a href="https://drive.google.com/uc?export=download&id=1Is7g8S7zshQpEDwka5dYCqairuG8HT3L"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>

  <div class="col-md-4" >
    <div class="blog-card blog-card-blog">
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/1qM1CS7Em6kZ9bclUT-1StRoHBQC5NrX_/preview" width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">
          
          <h4 class="blog-card-caption">
              <a href="#">SET-2</a>
          </h4>
          <p class="blog-card-description">This question paper is a model for the FIRST SEMESTER examination of FDS.</p>
          <div class="ftr">
              <div class="author">
                 <a href="https://drive.google.com/uc?export=download&id=1qM1CS7Em6kZ9bclUT-1StRoHBQC5NrX_"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>

  <div class="col-md-4" >
    <div class="blog-card blog-card-blog">
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/1UUXq7AY3-jJzvi4W5N2yCVppcVu1jwDm/preview" width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">
          
          <h4 class="blog-card-caption">
              <a href="#">SET-3</a>
          </h4>
          <p class="blog-card-description">This question paper is a model for the FIRST SEMESTER examination of FDS.</p>
          <div class="ftr">
              <div class="author">
                 <a href="https://drive.google.com/uc?export=download&id=1UUXq7AY3-jJzvi4W5N2yCVppcVu1jwDm"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>

  <div class="col-md-4" >
    <div class="blog-card blog-card-blog">
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/1JlJG1TAGQ6D6tkHfRTnEP7OrvUiG1Jem/preview" width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">
          
          <h4 class="blog-card-caption">
              <a href="#">SET-4</a>
          </h4>
          <p class="blog-card-description">This question paper is a model for the FIRST SEMESTER examination of FDS.</p>
          <div class="ftr">
              <div class="author">
                 <a href="https://drive.google.com/uc?export=download&id=1JlJG1TAGQ6D6tkHfRTnEP7OrvUiG1Jem"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>

  <div class="col-md-4" >
    <div class="blog-card blog-card-blog">
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/1TBsB-sYTHpcxVg0gukhswZWk_NaT-aMT/preview" width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">
          
          <h4 class="blog-card-caption">
              <a href="#">SET-5</a>
          </h4>
          <p class="blog-card-description">This question paper is a model for the FIRST SEMESTER examination of FDS.</p>
          <div class="ftr">
              <div class="author">
                 <a href="https://drive.google.com/uc?export=download&id=1TBsB-sYTHpcxVg0gukhswZWk_NaT-aMT"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>

  <div class="col-md-4" >
    <div class="blog-card blog-card-blog">
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/1AhX6hYV9e-CBEwYhx9OnmOS3mV8eepZ7/preview" width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">
          
          <h4 class="blog-card-caption">
              <a href="#">SET-6</a>
          </h4>
          <p class="blog-card-description">This question paper is a model for the FIRST SEMESTER examination of FDS.</p>
          <div class="ftr">
              <div class="author">
                 <a href="https://drive.google.com/uc?export=download&id=1AhX6hYV9e-CBEwYhx9OnmOS3mV8eepZ7"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>

  <div class="col-md-4" >
    <div class="blog-card blog-card-blog">
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/1MIo-MJU7NqLGT2xuv7dbsiWAHHEIckDR/preview" width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">
          
          <h4 class="blog-card-caption">
              <a href="#">SET-7</a>
          </h4>
          <p class="blog-card-description">This question paper is a model for the FIRST SEMESTER examination of FDS.</p>
          <div class="ftr">
              <div class="author">
                 <a href="https://drive.google.com/uc?export=download&id=1MIo-MJU7NqLGT2xuv7dbsiWAHHEIckDR"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>

  <div class="col-md-4" >
    <div class="blog-card blog-card-blog">
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/18LPnm9j0288fp4vAjvehfFftYTatahbi/preview" width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">
          
          <h4 class="blog-card-caption">
              <a href="#">SET-8</a>
          </h4>
          <p class="blog-card-description">This question paper is a model for the FIRST SEMESTER examination of FDS.</p>
          <div class="ftr">
              <div class="author">
                 <a href="https://drive.google.com/uc?export=download&id=18LPnm9j0288fp4vAjvehfFftYTatahbi"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>

  <div class="col-md-4" >
    <div class="blog-card blog-card-blog">
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/1bT-YI-KmcqXHfuWkgeWzrBbtNaSVhG4f/preview" width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">
          
          <h4 class="blog-card-caption">
              <a href="#">SET-9</a>
          </h4>
          <p class="blog-card-description">This question paper is a model for the FIRST SEMESTER examination of FDS.</p>
          <div class="ftr">
              <div class="author">
                 <a href="https://drive.google.com/uc?export=download&id=1bT-YI-KmcqXHfuWkgeWzrBbtNaSVhG4f"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>

  <div class="col-md-4" >
    <div class="blog-card blog-card-blog">
      <div class="blog-card-image">
          <a href="#">  <iframe src="https://drive.google.com/file/d/1IdU1JFI0RfxlDCGBq9sq6JU5y1CGdxX3/preview" width="400" height="480" allow="autoplay"></iframe> </a>
          <div class="ripple-cont"></div>
      </div>
      <div class="blog-table">
          
          <h4 class="blog-card-caption">
              <a href="#">SET-10</a>
          </h4>
          <p class="blog-card-description">This question paper is a model for the FIRST SEMESTER examination of FDS.</p>
          <div class="ftr">
              <div class="author">
                 <a href="https://drive.google.com/uc?export=download&id=1IdU1JFI0RfxlDCGBq9sq6JU5y1CGdxX3"> <i class="icon ion-ios-cloud-download"></i> <span>DOWNLOAD</span> </a>
              </div>
              <div class="stats"> <i class="far fa-clock"></i> 2021 </div>
          </div>
      </div>
  </div>
  </div>

</div>
</div>


  <!--footer-->
  <footer class="footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3>USEFUL LINKS</h3>
                <ul>
                    <li><a href="/">Home</a></li> 
                    <li><a href="/LOGIN">Login</a></li>
                    <li><a href="/profile_search">Profile</a></li>
                    <li><a href="/SEMESTER_MATERIALS">Material</a></li>
                    <li><a href="/SYLLABUS">Syllabus</a></li>
                    <li><a href="/SEMESTER_VIDEOS">Videos</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>ABOUT US</h3>
                <ul>
                    
                    <li><a href="/TEAM">Team</a></li>
                    <li><a href="/FEEDBACK">Feedback</a></li>
                </ul>
            </div>
            <div class="col-md-6 item text">
                <h3>INFO</h3>
                <p>Sri Manakula Vinayagar Engineering College is contended in pioneering a leading edge program B.Tech – Artificial intelligence and Data science, an undergraduate program with advanced learning solutions imparting knowledge of advanced innovations in these two buzz word towards which various industries are moving towards irrespective of their field.</p>
            </div>
            <div class="col item social"><a href="https://www.facebook.com/profile.php?id=100073342620201"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/AI_DS1"><i class="icon ion-social-twitter"></i></a><a href="https://www.instagram.com/_AI_DS_/"><i class="icon ion-social-instagram"></i></a></div>
        </div>
      <p class="copyright">ALL RIGHTS RESERVED BY INFINIT AI  </p>
     <p class="copyright">POWERED BY TITANS </p>
    </div>
</footer>
<!--end of footer-->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>