<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>HOME</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,400i,600,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Navbar.css">
    <link rel="stylesheet" href="assets/css/Footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="assets/css/home.css">
    <link rel="stylesheet" href="assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="icon" type="image/x-icon" href="assets/img/logo.png">

</head>

<body>
    
    <!--nav-->
    <nav class="navbar navbar-dark navbar-expand-md navbar-fixed-top navigation-clean-button" style="background: rgb(34, 34, 34);border-radius: 20;border-top-left-radius: 20;border-top-right-radius: 20;border-bottom-right-radius: 20;border-bottom-left-radius: 20;border-style: none;padding-top: 0;padding-bottom: 10px;">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div><img src="assets/img/logo.png" style="width: 80px;"><a class="navbar-brand" href="#"> </a></div>
            <div class="collapse navbar-collapse" id="navcol-1"  >
                <ul class="navbar-nav nav-right">
                    <li class="nav-item"><a class="nav-link active" href="/profile_search"  >PROFILE</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link click" aria-expanded="false" data-bs-toggle="dropdown" href="#" >ACADEMIC</a>
                                                    <div class="dropdown-menu"><a class="dropdown-item" href="/SEMESTER_MATERIALS">MATERIALS</a><a class="dropdown-item" href="/SYLLABUS">SYLLABUS</a><a class="dropdown-item" href="/SEMESTER_VIDEOS">VIDEO</a></div>
                    </li>
                    
                    <li class="nav-item"><a class="nav-link" href="/TEAM" >TEAM</a></li>
                    <li class="nav-item"><a class="nav-link" href="/FEEDBACK" >FEEDBACK</a></li>
                </ul>
                <p class="ms-auto navbar-text actions" style="text-align: right;"> <a class="btn btn-light action-button" role="button" href="/LOGIN" style="font-size: 16px;padding: 5px 8px; background-color: #0690FF;color: white;border-radius: 10px;border-style: solid;border-color: #0690FF;font-size: 16px;padding: 5px 8px;width: 100px;">LOGIN</a></p>
            </div>
        </div>
    </nav>
    <div class="simple-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background: url(assets/img/1.jpg) center center / cover no-repeat;"></div>
                <div class="swiper-slide" style="background: url(assets/img/2.jpg) center center / cover no-repeat;"></div>
                <div class="swiper-slide" style="background: url(assets/img/3.jpg) center center / cover no-repeat;"></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
<br>
<!--INFO about ai and ds-->
<div class="container">
    <div  class="card "   
     data-aos="fadeup" data-aos-delay="20"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out">
    <div class="row no-gutters">
    <div class="col-md-4 rounded" >
    <img class="card-img p-2 h-100" src="assets/img/home/ai.png" alt="artificial" id="statsbox">
    </div>
    <div class="col-md-8">
    <div class="card-body">
    <h4 class="card-title "> Artificial Intelligence Statistics <span class="badge text-lowercase bg-success rounded-pill" style="font-size:15px;background-color: #0690FF;"><i class="far fa-chart-bar"></i> Stats</span></h4>
    <p class="card-text" style="color: black
    ;">The forecasted AI annual growth rate between 2020 and 2027 is 33.2%. The global AI chip market revenue is expected to reach $83.25 billion by 2027. ... By 2030, China will be the world leader in AI technology, with 26.1% of the global market share.In 2019, the machine learning application industry received $37 billion of funding in the U.S.By 2030, AI will lead to an estimated $15.7 trillion, or 26% increase in global GDP. The $15.7 trillion GDP estimated by 2030 will likely come from increased profitability (40%) and consumption (60%).</p>
    </div> 	
    </div>
    </div>
    </div>
    <br>
    <!--data science -->
    
    <div  class="card " 
        data-aos="fadeup" data-aos-delay="20"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
          >
    <div class="row no-gutters">
    <div class="col-md-4 rounded"  >
    <img class="card-img p-2 h-100" src="assets/img/home/ds.png"data science id="statsbox">
    </div>
    <div class="col-md-8">
    <div class="card-body">
    <h4 class="card-title "> Data Science Statistics <span class="badge text-lowercase bg-success rounded-pill" style="font-size:15px;background-color: #0690FF;"><i class="far fa-chart-bar"></i> Stats</span></h4>
    <p class="card-text">For a Fortune 1000 enterprise, only a 10 percent increase in the accessibility of data will lead to net additional revenue of 65 million dollars 47 percent of organizations believe that data analytics has fundamentally or significantly transformed how their industries compete Almost 20 percent of the total technology budget is being spent on data analytics by 73 percent of companies Retail companies, nearly 62 percent, have gained a competitive advantage from data analytics.</p>
    </div> 	
    </div>
    </div>
    </div>
    </div>
    </section>
    <!--INFO end-->
    <br>
    <br>
<!--club card-->
<h1 style="text-align: center;color: black;font-size: 30px;">OUR CLUB</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-sm-6 col-md-4">
            <div class="box"><img src="assets/img/home/club.png">
                <div class="box-content">
                    <h1 class="title">NEW COURSE</h1>
                    <p class="description"> BASICS OF C - 8 hours of programming event 
                        #include <stdio.h> 
                        int main(){
                        printf("Hello World! "); 
                        getch();
                        return 0; }
                        </p><a class="read-more" href="/COMINGSOON">Read more</a>
                </div>
            </div>
        </div>
        
    </div>
</div>


<!--card end-->
<br>
<br>
<!--slider-->
<section class="clean-block slider dark">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info" style="color: black !important;text-align: center;">OUR PROJECTS</h2>
            <p style="color: black;text-align: center;">The below content are done by the department of Artificial Intelligence and Data Science students</p>
        </div>
        <div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
            <div class="carousel-inner">
                <div class="carousel-item active"><a href="/SPOTIFY"><img class="w-100 d-block" src="assets/img/home/spotify.png" alt="Slide Image"></a></div>
                <div class="carousel-item"><a href="/THEMIS"><img class="w-100 d-block" src="assets/img/home/themis.jpg" alt="Slide Image"></a></div>
            </div>
            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
            <ol class="carousel-indicators">
                <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
            </ol>
        </div>
    </div>
</section>
<!--slider end-->
    <div class="Push-20"></div>
    <!--achive-->
    <section class="projects-horizontal">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" data-aos="slide-right">ACHIEVEMENTS</h2>
                <p class="text-center" data-aos="zoom-out-right"> HACKBIT-2021 </p>
            </div>
            <div class="row projects">
                <div class="col-sm-6 item" data-aos="flip-right">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="assets/img/home/achi.png"></a></div>
                        <div class="col">
                            <h3 class="name">Team Name: TITANS</h3>
                            <p class="description"> Team titans from Sri Manakula Vinayagar Engineering College has won FIRST PLACE in the HACKBIT-2021,a National Level Virtual Hackathon event organised by the Hackathon lab, Bannari Amman Institute of Technology. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item" data-aos="flip-right">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="assets/img/home/ccpc.png"></a></div>
                        <div class="col">
                            <h3 class="name">Team Name: APPISTICS</h3>
                            <p class="description"> Team Appistics from Sri Manakula Vinayagar Engineering College participated in a National level Hackathon conducted by Cloud Counselage Private Limited and won the first place. Two of the team members got an opportunity to work on a paid internship with the company. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--achive end-->
    <!--footer-->
    <footer class="footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>USEFUL LINKS</h3>
                    <ul>
                        <li><a href="/LOGIN">Login</a></li>
                        <li><a href="/profile_search">Profile</a></li>
                        <li><a href="/SEMESTER_MATERIALS">Material</a></li>
                    <li><a href="/SYLLABUS">Syllabus</a></li>
                    <li><a href="/SEMESTER_VIDEOS">Videos</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>ABOUT US</h3>
                    <ul>
                        
                        <li><a href="/TEAM">Team</a></li>
                        <li><a href="/FEEDBACK">Feedback</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>INFO</h3>
                    <p>Sri Manakula Vinayagar Engineering College is contended in pioneering a leading edge program B.Tech – Artificial intelligence and Data science, an undergraduate program with advanced learning solutions imparting knowledge of advanced innovations in these two buzz word towards which various industries are moving towards irrespective of their field.</p>
                </div>
                <div class="col item social"><a href="https://www.facebook.com/profile.php?id=100073342620201"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/AI_DS1"><i class="icon ion-social-twitter"></i></a><a href="https://www.instagram.com/_AI_DS_/"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">ALL RIGHTS RESERVED BY INFINIT AI  </p>
            <p class="copyright">POWERED BY TITANS </p>
        </div>
    </footer>
    <!--end of footer-->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="assets/js/Animated-Filterable-Gallery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="assets/js/Simple-Slider.js"></script>
</body>

</html>