<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>THEMIS PROJECT</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/project.css">
    <link rel="stylesheet" href="assets/css/Navbar.css">
    <link rel="stylesheet" href="assets/css/Footer.css">
    <link rel="icon" type="image/x-icon" href="assets/img/logo.png">
</head>

<body>
    
        <!--nav-->
        <nav class="navbar navbar-dark navbar-expand-md navbar-fixed-top navigation-clean-button" style="background: rgb(34, 34, 34);border-radius: 20;border-top-left-radius: 20;border-top-right-radius: 20;border-bottom-right-radius: 20;border-bottom-left-radius: 20;border-style: none;padding-top: 0;padding-bottom: 10px;">
            <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
 <div><img src="assets/img/logo.png" style="width: 80px;"><a class="navbar-brand" href="#"> </a></div>
                <div class="collapse navbar-collapse" id="navcol-1" style="color: rgb(255,255,255);">
                    <ul class="navbar-nav nav-right">
                        <li class="nav-item"><a class="nav-link active" href="/" style="color: rgba(224,217,217,0.9);">HOME</a></li>
                        <li class="nav-item"><a class="nav-link active" href="/" style="color: rgba(224,217,217,0.9);">PROFILE</a></li>
                        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="color: rgba(224,217,217,0.9);">ACADEMIC</a>
                            <div class="dropdown-menu"><a class="dropdown-item" href="services.html">MATERIALS</a><a class="dropdown-item" href="#">VIDEO</a></div>
                        </li>

                        <li class="nav-item"><a class="nav-link" href="faq.html" style="color: rgba(224,217,217,0.9);">TEAM</a></li>
                        <li class="nav-item"><a class="nav-link" href="/FEEDBACK" style="color: rgba(224,217,217,0.9);">FEEDBACK</a></li>
                    </ul>
                    <p class="ms-auto navbar-text actions" style="text-align: right;"> <a class="btn btn-light action-button" role="button" href="signup.html" style="font-size: 16px;padding: 5px 8px; background-color: #0690FF;color: white;border-radius: 10px;border-style: solid;border-color: #0690FF;font-size: 16px;padding: 5px 8px;width: 100px;">LOGIN</a></p>
                </div>
            </div>
        </nav>
        <!--nav end-->
        <!--bg video-->
        <div class="video-background-holder">
      <div class="video-background-overlay"></div>
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="assets/VID/themis.mp4" type="video/mp4">
        </video>
      <div class="video-background-content container h-100">
        <div class="d-flex h-100 text-center align-items-center">
          <div class="w-100 text-white">
            <h1 class="display-4"></h1>
            <p class="lead mb-0"></p>
          </div>
        </div>
      </div>
    </div>
    <!--bg video end-->
    <!--tech use-->
    <section id="services" class="services">
        <div class="container-md section-title">
            <div class="text-center">
                <br>
                <br>
                <h2 style="color: #75aadb;"><span style="color: #ffffff;"><strong>&nbsp;THEMIS</strong></span></h2>
                <p class="d-inline-block" style="width: 50%;color: #ffffff;"><strong>This is a web-application in which the user can query his social problems and get to know the related Laws from the Indian Constitution through this web-app.
                    The objective of this web-app is to create awareness among people regarding the rules and regulations in the Indian Constitution.
                    </strong><br>&nbsp; &nbsp;&nbsp;</p>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="icon ion-social-html5" style="margin-bottom: 15px;"></i>
                            <br>
                            <br>
                            <br>
                            <h4 class="title">HTML 5<a href="#"></a></h4>
                            <p class="description">HTML5 is a markup language used for structuring and presenting content on the World Wide Web.<br>&nbsp; &nbsp; &nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="icon ion-ios-chatboxes" style="margin-bottom: 15px;"></i>
                            <br>
                            <br>
                            <br>
                            <h4 class="title">IBM WATSON ASSISTANT<a href="#"></a></h4>
                            <p class="description">IBM Watson Assistant uses artificial intelligence that understands customers in context to provide fast, consistent, and accurate answers across any application, device, or channel. <br>&nbsp; &nbsp; &nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="icon ion-social-javascript-outline" style="margin-bottom: 15px;"></i>
                            <br>
                            <br>
                            <br>
                            <h4 class="title">JAVASCRIPT<a href="#"></a></h4>
                            <p class="description">JavaScript is a text-based programming language used both on the client-side and server-side to make web pages interactive.<br>&nbsp; &nbsp; &nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--card-->
    <div class="main" >
        <header class="header  ">
        <div class="back">
            
        <section class="team-one" id="team">
        
        
            <div class="container">
                <div class="title text-center">
                    <p></p>
                    <h3 style="color: white;">Meet Our Professional <br> Team Members</h3>
                </div>
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="single">
                            <div class="circle"></div>
                            <div class="inner">
                                <h3 style="color: white;">A.Hari Guptha</h3>
                                <p style="color: white;">Law chatbot developer</p>
                                <div class="image">
                                    <img style="width: 190px;height: 200px;" src="assets/img/TEAM/HARI.png" alt="">
                                </div>
                                
                            </div>
                        </div>
                    </div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="single">
                            <div class="circle"></div>
                            <div class="inner">
                                <div class="peru">
                                <h3 style="color: white;">R.Gokulprasath</h3>
                                </div>
                                <p style="color: white;"> Query chatbot developer</p>
                                <div class="image">
                                    <img style="width: 200px;height: 200px;" src="assets/img/TEAM/GOKUL.png" alt="">
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="single">
                            <div class="circle"></div>
                            <div class="inner">
                                <h3 style="color: white;">S.Ragul</h3>
                                <p style="color: white;">Front-end developer</p>
                                <div class="image">
                                    <img style="width: 190px;height: 200px;" src="assets/img/TEAM/ragul.png" alt="">
                                </div>
                                
                            </div>
                        </div>
                    </div>
                  </div>
                </br>
                  </br>
            </div>
        </section>
        </div>
<!--footer-->
    <footer class="footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>USEFUL LINKS</h3>
                    <ul>
                        <li><a href="/">Home</a></li> 
                        <li><a href="/LOGIN">Login</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="/SEMESTER_MATERIALS">Material</a></li>
                    <li><a href="/SYLLABUS">Syllabus</a></li>
                    <li><a href="/SEMESTER_VIDEOS">Videos</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>ABOUT US</h3>
                    <ul>
                     
                        <li><a href="/TEAM">Team</a></li>
                        <li><a href="/FEEDBACK">Feedback</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>INFO</h3>
                    <p>Sri Manakula Vinayagar Engineering College is contended in pioneering a leading edge program B.Tech – Artificial intelligence and Data science, an undergraduate program with advanced learning solutions imparting knowledge of advanced innovations in these two buzz word towards which various industries are moving towards irrespective of their field.</p>
                </div>
                <div class="col item social"><a href="https://www.facebook.com/profile.php?id=100073342620201"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/AI_DS1"><i class="icon ion-social-twitter"></i></a><a href="https://www.instagram.com/_AI_DS_/"><i class="icon ion-social-instagram"></i></a></div>
            </div>
         <p class="copyright">ALL RIGHTS RESERVED BY INFINIT AI</p>
        </div>
    </footer>
    <!--end of footer-->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>